body {
  background-color: #333;
  color: #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

main {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}