.area-c {
  background-color: #D99AC5;
}

.area-d {
  background-color: #D882BD;
}

.area-e {
  background-color: #CEB0E8;
}

.area-f {
  background-color: #DCCDE8;
}

.area-g {
  background-color: #AF95C4;
}

.area-h {
  background-color: #B39FC4;
}